/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
.pink, 
.marker, 
.form-required {
	color: #eb008b;
}
a, a:link, a:visited {
	color: #2EB2DA;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 12px 0;
}
h3 {
	font-size: 1.2em;
	margin-bottom: 12px;
}
body {
	background: url(../images/tile.png) repeat 0 0;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	line-height: 1.2;
}
header {
	background-color: #fff;
}
#zone-branding-wrapper {
	padding: 35px 0;
}
.branding-data {
	float: right;
}
.logo-img {
	width: 197px;
	height: 40px;
	float: right;
	margin: 0;
}
.block-student-form {
	font-weight: bold;
	font-size: 1.8em;
	line-height: 40px;
}
#zone-content-wrapper {
	background: url(../images/shadow.png) repeat-x 0 0;
	padding-top: 60px;
}
#block-block-13 {
	float: left;
	line-height: 51px;
	font-size: 1.4em;
	font-weight: bold;
}
#block-block-11 {
	color: #666666;
	font-weight: bold;
}
#block-block-11 h2.block-title {
	width: 225px;
	height: 108px;
	padding-bottom: 16px;
	text-indent: -8765px;
	line-height: 0;
	background: url(../images/title.png) no-repeat 0 0;
}
h1#page-title {
	display: none;
	visibility: hidden;
}
#auth-status{
	height: 32px;
	margin-left: 40px;
	margin-bottom: 10px;
	padding: 10px 0 10px 10px;
	color: #EB008B;
	font-weight: bold;
	font-size: 1.2em;
}
a#auth-logoutlink {
	color: #EB008B;
}
#auth-loggedout {
	width: 181px;
	height: 32px;
	float: right;
}	
.webform-client-form {
	padding-left: 40px;
}
.fieldset-wrapper {
	overflow: hidden;
}
fieldset {
	margin-bottom: 10px;
}
.fieldset-wrapper fieldset {
	padding-bottom: 20px;
	margin-bottom: 20px;
	background: url(../images/dots.png) repeat-x 0 bottom;
}
fieldset legend {
	width: 640px;
	color: #fff;
	background-color: #2eb2da;
	padding: 12px 10px;
	font-weight: bold;
	margin-bottom: 8px;
}
input.form-text,
textarea,
input#edit-submitted-civicrm-1-contact-1-fieldset-fieldset-civicrm-1-contact-1-cg9-custom-27 {
	padding: 2px 12px;
	background-color: #e6e6e6;
	border: 0 none;	
	font-size: 15px;
}
input.form-text {
	width: 374px;
	height: 48px;
	font-weight: bold;
	display: inline-block;
}
input.form-text:focus,
textarea:focus, input.sffocus {
	background-color: #fff;
	border: 4px solid #eb008b;
	outline: none;
	box-shadow: 0 0 0;
}
.form-item {
	margin: 8px 0;
}
.form-actions {
	margin: 0;
	margin-bottom: 40px;
}
.webform-component,
.webform-confirmation {
	padding: 20px 30px;
	background-color: #fff;
	overflow: hidden;
}

#webform-component-undergraduate-qualifications--civicrm-1-contact-1-cg3-custom-54,
#webform-component-postgraduate-qualifications--civicrm-1-contact-1-cg3-custom-50,
#edit-submitted-civicrm-1-contact-1-cg3-custom-45 {
	padding: 20px 10px 20px 30px;
	margin-top: 25px;
}
#webform-component-undergraduate-qualifications--civicrm-1-contact-1-cg3-custom-54 .form-item,
#webform-component-postgraduate-qualifications--civicrm-1-contact-1-cg3-custom-50 .form-item,
#edit-submitted-civicrm-1-contact-1-cg3-custom-45 .form-item {
	width: 180px;
	margin-right: 25px;
	float: left;
	font-size: 0.8em;
}
.links {
	margin-top: 20px;
}
.webform-component label {
	margin: 4px 0;
}
.webform-container-inline label {
    display: inline-block;
	vertical-align: middle;
	width: 200px;
}
.webform-container-inline .form-type-radio label,
.webform-container-inline label.error {
	width: auto;
	float: none;
}
.webform-container-inline .form-type-radio {
	margin-right: 12px;
}
input.webform-calendar {
	vertical-align: middle;
}
#edit-actions {
	float: right;
}
.form-actions input {
	margin-right: 0 !important;
}
.description {
	clear: both;
	padding-top: 10px;	
}
.webform-container-inline div.description {
	margin-left: 205px;
}
label.option {
    line-height: 26px;
    vertical-align: middle;
}
button, input[type="reset"], 
input[type="submit"], 
input[type="button"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #eb008b url(../images/arrow.png) no-repeat right center;
    border-radius: 0;
    border-style: none;
    border-width: 0;
	border-right: 8px solid #eb008b;
    color: #fff;
    cursor: pointer;
    outline: 0 none;
    overflow: visible;
    padding: 10px 40px 10px 20px;
    width: auto;
	text-shadow: 0 0 0;
	font-size: 1.2em;
}
#edit-next,
#edit-submit {
	margin-left: 16px;
}
input[type="submit"]#edit-previous {
	background: #eb008b url(../images/arrow-back.png) no-repeat left center;
	border-right: 0;
	border-left: 8px solid #eb008b;
	padding: 10px 20px 10px 40px;
}
input:focus,
select:focus { 
	outline: none; 
}
.form-actions input:hover {
	background: #eb008b url(../images/arrow.png) no-repeat right center;
}
label.error {
    background: url("../images/error.png") no-repeat 0 center;
	padding-left: 40px;
	margin-top: 14px;
	color: #000;
	line-height: 24px;
	clear: both;
}	
.form-item input.error, .form-item textarea.error, .form-item select.error {
	border: 4px solid #2eb2da;
}
div.error, .error {
	color: #000;
}
.ui-dialog {
	width: 600px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-content, .ui-widget-header {
	color: #000;
	border: 0px solid transparent;
	border-color: transparent;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 14px;
}
.ui-corner-all {
	-moz-border-radius: 0/*{cornerRadius}*/;
	-webkit-border-radius: 0/*{cornerRadius}*/;
	border-radius: 0/*{cornerRadius}*/;
}
.ui-widget-header {
	background-color: #2EB2DA;
	background-image: none;
	font-weight: bold;
	color: #fff;
}
.ui-widget-header .ui-icon-closethick {
	background: url(../images/cross.png) no-repeat 0 0;
}
#webform-client-form-5 .webform-component {
    height: 100% !important;
}
#webform-client-form-5 div.webform-component-markup {
    border: 2px solid #EB008B;
    text-align: center;
}
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-two,
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-three,
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-five, 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-workskills, 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-short-courses {
	padding-left: 17px;
} 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-short-courses {
	padding-bottom: 20px;
}
#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--authenticate-with-facebook p {
	margin: 0;
}
#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--civicrm-1-contact-1-cg10-custom-25,
#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--civicrm-1-contact-1-cg9-custom-27,
#webform-component-civicrm-1-contact-1-fieldset-fieldset--civicrm-1-contact-1-cg10-custom-25,
#webform-component-civicrm-1-contact-1-fieldset-fieldset--civicrm-1-contact-1-cg9-custom-27
{ display:none;}

.ac_results {
    background: none no-repeat scroll 0 0 #FFFFFF !important;
    width: 374px !important;
}
.ac_results-inner, .crm-participant-list-inner, .crm-event-links-list-inner, .crm-contribpage-links-list-inner, .crm-create-new-list-inner, .crm-contact-actions-list-inner {
    background-color: #fff;
	border: 1px solid #d1d1d1;
}
.ac_results li strong {
	color: #eb008b;
}
.ac_results li.ac_over strong, #crm-container .ac_results li.ac_over strong {
    color: #fff;
}
.ac_results li.ac_over, .ac_results li:hover, .ac_results li.ac_over a, .ac_results li.ac_over a:hover, .ac_results li.ac_over a:visited, #crm-container .ac_results li.ac_over, #crm-container .ac_results li:hover, #crm-container .ac_results li.ac_over a, #crm-container .ac_results li.ac_over a:hover, #crm-container .ac_results li.ac_over a:visited {
    background-color: #EB008B;
    color: #fff;
}
.ac_results ul, 
.ac_results ul li {
	list-style: none outside none;
	color: #4c4c4c;
	margin-bottom: 4px;
	padding: 2px;
}
.ac_results ul {
	margin: 5px;
	padding: 0;
}
.ac_results li.ac_over, 
.ac_results li:hover, 
.ac_results li.ac_over a, 
.ac_results li.ac_over a:hover, 
.ac_results li.ac_over a:visited, 
#crm-container .ac_results li.ac_over, 
#crm-container .ac_results li:hover, 
#crm-container .ac_results li.ac_over a, 
#crm-container .ac_results li.ac_over a:hover, 
#crm-container .ac_results li.ac_over a:visited {
	cursor: pointer;
}
form li.token-input-token {
    background-color: #EB008B;
    color: #fff;
}
form .webform-component.static li.token-input-token {
    background-color: #EB008B;
	color: #fff;
}
form li.token-input-token span {
    float: right;
    color: #fff;
    cursor: pointer;
}
form li.token-input-selected-token {
    background-color: #EB008B;
    color: #fff;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #EB008B;
	color: #fff;
}
/*#edit-submitted-civicrm-1-contact-1-cg3-custom-45,
#edit-submitted-undergraduate-qualifications-civicrm-1-contact-1-cg3-custom-54,
#edit-submitted-postgraduate-qualifications-civicrm-1-contact-1-cg3-custom-50 {
	margin-top: 25px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}*/