/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
.pink, 
.marker, 
.form-required {
	color: #eb008b;
}
a, a:link, a:visited {
	color: #2EB2DA;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	background: url(../images/tile.png) repeat 0 0;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	line-height: 1.2;
}
header {
	background-color: #fff;
}
#zone-branding-wrapper {
	padding: 50px 0;
}
.branding-data {
	float: right;
}
.logo-img {
	width: 251px;
	height: 51px;
	float: right;
	margin: 0;
}
.block-student-form {
	font-weight: bold;
	font-size: 120%;
}
.block-student-form .content{
	padding-top: 30px;
}
#zone-content-wrapper {
	background: url(../images/shadow.png) repeat-x 0 0;
	padding-top: 60px;
}
#block-block-13 {
	float: left;
	line-height: 51px;
	font-size: 1.4em;
	font-weight: bold;
}
#block-block-11 {
	color: #666666;
	font-weight: bold;
}
#block-block-11 h2.block-title {
	width: 225px;
	height: 108px;
	padding-bottom: 16px;
	text-indent: -8765px;
	line-height: 0;
	background: url(../images/title.png) no-repeat 0 0;
}
h1#page-title {
	display: none;
	visibility: hidden;
}

#auth-status{
	margin-left: 40px;
	margin-bottom: 10px;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	background-color: #EB008B;
}	
.webform-client-form {
	padding-left: 40px;
}
.fieldset-wrapper {
	overflow: hidden;
}
fieldset {
	margin-bottom: 0;
}
.fieldset-wrapper fieldset {
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: url(../images/dots.png) repeat-x 0 bottom;
}
fieldset legend {
	width: 640px;
	color: #fff;
	background-color: #2eb2da;
	padding: 12px 10px;
	font-weight: bold;
	margin-bottom: 8px;
}
input.form-text,
textarea {
	padding: 2px 12px;
	background-color: #e6e6e6;
	border: 0 none;	
}
input.form-text {
	width: 374px;
	height: 48px;
	font-weight: bold;
}
input.form-text:focus, input.sffocus {
	background-color: #fff;
	border: 4px solid #eb008b;
	outline: none;
	box-shadow: 0 0 0;
}
.form-item {
	margin: 8px 0;
}
.form-actions {
	margin: 0;
	margin-bottom: 40px;
}
.webform-component {
	padding: 20px 30px;
	background-color: #fff;
	overflow: hidden;
}
.webform-container-inline label {
    display: inline-block;
	line-height: 52px;
}
.webform-container-inline .form-type-radio label {
	width: auto;
}
.webform-container-inline input[type="text"],
.webform-container-inline input[type="email"] {
	float: right;
}
#edit-actions {
	float: right;
}
button, input[type="reset"], 
input[type="submit"], 
input[type="button"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #eb008b url(../images/arrow.png) no-repeat 158px center;
    border-radius: 0;
    border-style: none;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    outline: 0 none;
    overflow: visible;
    padding: 10px 100px 10px 20px;
    width: auto;
	text-shadow: 0 0 0;
	font-size: 1.2em;
}
.form-actions input:hover {
	background: #eb008b url(../images/arrow.png) no-repeat 158px center;
}
label.error {
    background: url("../images/error.png") no-repeat 0 center;
	padding-left: 40px;
	color: #000;
	line-height: 48px;
}	
.form-item input.error, .form-item textarea.error, .form-item select.error {
	border: 4px solid #2eb2da;
}
.ui-dialog {
	width: 600px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-content, .ui-widget-header {
	color: #000;
	border: 0px solid transparent;
	border-color: transparent;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 14px;
}
.ui-corner-all {
	-moz-border-radius: 0/*{cornerRadius}*/;
	-webkit-border-radius: 0/*{cornerRadius}*/;
	border-radius: 0/*{cornerRadius}*/;
}
.ui-widget-header {
	background-color: #2EB2DA;
	background-image: none;
	font-weight: bold;
	color: #fff;
}
.ui-widget-header .ui-icon {
	background: url(../images/cross.png) no-repeat 0 0;
}
#webform-client-form-5 .webform-component {
    height: 100% !important;
}
#webform-client-form-5 div.webform-component-markup {
    border: 2px solid #EB008B;
    text-align: center;
}
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-two,
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-three,
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-five, 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-workskills, 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-short-courses {
	padding-left: 17px;
} 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-short-courses {
	padding-bottom: 20px;
}
#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--authenticate-with-facebook p {
	margin: 0;
}

#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--civicrm-1-contact-1-cg10-custom-25,
#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--civicrm-1-contact-1-cg9-custom-27
{ display:none;}
