drupal/sites/*/settings.php
drupal/sites/*/civicrm.settings.php
drupal/sites/*/files

extensions/cache

*~
\#*\#
*.swp
*.mysql
!drupal/sites/all/modules/civicrm/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*/*.mysql

tags

*.sql
*.tar
*.gz
*.zip

clickatell-test-server/message.log
clickatell-test-server/http.log

