/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
body {
	font-size: 15px;
}
#section-content { 
	padding-top: 60px;
}
.sign-up-text h2.block-title,
.updated h2.block-title {
	width: 225px;
	height: 108px;
	padding-bottom: 12px;
	text-indent: -8765px;
	line-height: 0;
	background: url(../images/title-signup.png) no-repeat 0 0;
}
.updated h2.block-title {
	height: 101px;
	background-image: url(../images/title-updated.png);
}
.sign-up-text, 
.updated {
	display: block;
}
.sign-up-pictures {
	display: block;
}
.block {
	word-wrap: normal;
}
div.token-input-dropdown {
	width: 652px;
}