/* This file will hold styles that are loaded using the same media query as the wide grid. */
#section-content { 
	padding-top: 60px;
}
.sign-up-text h2.block-title {
	width: 225px;
	height: 108px;
	padding-bottom: 16px;
	text-indent: -8765px;
	line-height: 0;
	background: url(../images/title.png) no-repeat 0 0;
}
.sign-up-pictures {
	display: block;
}