/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
	background: url(../images/tile.png) repeat 0 0;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 13px;
	line-height: 1.2;
}
a, a:link, a:visited {
	color: #2EB2DA;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 12px 0;
}
h3 {
	font-size: 1.2em;
	margin-bottom: 12px;
}
#section-header { 
	background-color: #fff;
	padding: 1.5% 0;
}
.branding-data {
	width: 197px;
	height: 40px;
	float: left;
}
.logo-img a {
	display: block;
}
#section-content { 
	background: url(../images/shadow.png) repeat-x 0 top;
	padding-top: 20px;
}
h1#page-title {
	display: none;
	visibility: hidden;
}
h2.block-title {
	font-size: 1.6em;
	color: #eb008b;
}
/* blocks */
.block {
	word-wrap: break-word;
}
.sign-up-text, 
.updated {
	color: #666;
	font-weight: bold;
}
.sign-up-text h2.block-title,
.updated h2.block-title {
	width: 225px;
	height: 108px;
	padding-bottom: 12px;
	text-indent: -8765px;
	line-height: 0;
	background: url(../images/title-signup.png) no-repeat 0 0;
}
.updated h2.block-title {
	height: 101px;
	background-image: url(../images/title-updated.png);
}
.block-school-name {
	margin-right: 220px;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 40px;
}
#block-student-form-school-name {
	display: none;
}
.sign-up-text,
.updated {
	display: none;
}
.sign-up-pictures {
	display: none;
}
/* form */ 
.block-ff-facebook {
	float: right;
}
.block-system-main {
	clear: both;
}
.fieldset-wrapper {
	overflow: hidden;
}
fieldset,
.block-ff-facebook  {
	margin-bottom: 10px;
}
.fieldset-wrapper fieldset {
	padding-bottom: 20px;
	margin-bottom: 20px;
	background: url(../images/dots.png) repeat-x 0 bottom;
}
fieldset legend {
	width: 96%;
	color: white;
	background-color: #2EB2DA;
	padding: 12px 2%;
	font-weight: bold;
	margin-bottom: 8px;
}
.webform-component, .webform-confirmation {
	padding: 12px;
	background-color: white;
	overflow: hidden;
}
.form-item {
	margin: 8px 0;
}
.webform-component label {
	margin: 4px 0;
}
.links {
	margin-top: 20px;
}
.webform-component label {
	margin: 4px 0;
}
.webform-container-inline label {
    display: inline-block;
	vertical-align: middle;
	width: 200px;
}
.webform-container-inline .form-type-radio label,
.webform-container-inline label.error {
	width: auto;
	float: none;
}
.webform-container-inline .form-type-radio {
	margin-right: 12px;
}
input.form-checkbox, input.form-radio {
	height: 26px;
}
input.webform-calendar {
	vertical-align: middle;
}
#edit-actions {
	float: right;
}
.form-actions input {
	margin-right: 0 !important;
}
.description {
	clear: both;
	padding-top: 10px;	
}
.webform-container-inline div.description {
	margin-left: 205px;
}
label.option {
    line-height: 26px;
    vertical-align: middle;
}
textarea, input[type="tel"], input[type="text"], 
input[type="number"], input[type="email"] {
	width: 100%;
	height: 34px;
	padding: 2px 4px;
	background-color: #E6E6E6;
	border: 0 none;
	font-size: 1em;
}
input.form-text:focus,
textarea:focus, input.sffocus {
	background-color: #fff;
	border: 4px solid #eb008b;
	outline: none;
	box-shadow: 0 0 0;
}
textarea {
	height: 260px;
}
.form-item .description {
	font-size: 0.85em;
	clear: both;
	padding-top: 10px;
}
.form-actions {
	float: right;
}
button, input[type="reset"], 
input[type="submit"], 
input[type="button"] {
    -moz-border-image: none;
    -moz-border-colors: none;
    background: #eb008b url(../images/arrow.png) no-repeat right center;
    border-radius: 0;
    border: 0 none;
    border-right: 8px solid #eb008b;
    color: #fff;
    cursor: pointer;
    outline: 0 none;
    overflow: visible;
    padding: 10px 40px 10px 20px;
    width: auto;
    text-shadow: 0 0 0;
    font-size: 1.2em;
}
input[type="submit"]#edit-previous {
	background: #eb008b url(../images/arrow-back.png) no-repeat left center;
	border-right: 0;
	border-left: 8px solid #eb008b;
	padding: 10px 20px 10px 40px;
}
input:focus,
select:focus { 
	outline: none; 
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    box-shadow: 0 0 0 transparent;
}
*:focus {outline: 0px none transparent;}
.form-actions input:hover {
    background: #eb008b url(../images/arrow.png) no-repeat right center;
}
#edit-next,
#edit-submit {
    margin-left: 16px;
}
#webform-component-undergraduate-qualifications--civicrm-1-contact-1-cg3-custom-54,
#webform-component-postgraduate-qualifications--civicrm-1-contact-1-cg3-custom-50,
#webform-component-civicrm-1-contact-1-cg3-custom-45 {
	padding: 20px 10px 20px 30px;
	margin-top: 25px;
}
#webform-component-undergraduate-qualifications--civicrm-1-contact-1-cg3-custom-54 .form-item,
#webform-component-postgraduate-qualifications--civicrm-1-contact-1-cg3-custom-50 .form-item,
#webform-component-civicrm-1-contact-1-cg3-custom-45 .form-item,
#webform-component-education---a-levels--civicrm-1-contact-1-cg3-custom-45 .form-item {
	width: 180px;
	margin-right: 25px;
	float: left;
	font-size: 0.8em;
}
/* error messages */ 
label.error {
    background: url("../images/error.png") no-repeat 0 center;
    padding-left: 40px;
    margin-top: 14px;
    color: #000;
    line-height: 24px;
    clear: both;
}   
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 4px solid #2eb2da;
}
div.error, .error {
    color: #000;
}
/* lightbox style text */
.ui-dialog {
    width: 600px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-content, .ui-widget-header {
    border: 0 solid transparent;
    color: #000000;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 14px;
}
.ui-corner-all {
    border-radius: 0 0 0 0;
}
.ui-widget-header {
    background-color: #2EB2DA;
    background-image: none;
    color: #FFFFFF;
    font-weight: bold;
}
.ui-widget-header .ui-icon-closethick {
    background: url("../images/cross.png") no-repeat scroll 0 0 transparent;
}
/* random */ 
#webform-client-form-5 .webform-component {
    height: 100% !important;
}
#webform-client-form-5 div.webform-component-markup {
    border: 2px solid #EB008B;
    text-align: center;
}
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-two,
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-three,
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-level-five, 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-workskills, 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-short-courses {
	padding-left: 17px;
} 
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-qualifications-civicrm-1-contact-1-cg3-custom-13-short-courses {
	padding-bottom: 20px;
}
#webform-component-civicrm-1-contact-1-fieldset-fieldset--basic-info--authenticate-with-facebook p {
	margin: 0;
}
.ac_results {
    background: none no-repeat scroll 0 0 #FFFFFF !important;

}
.ac_results-inner, .crm-participant-list-inner, .crm-event-links-list-inner, .crm-contribpage-links-list-inner, .crm-create-new-list-inner, .crm-contact-actions-list-inner {
    background-color: #fff;
	border: 1px solid #d1d1d1;
}
.ac_results li strong {
	color: #eb008b;
}
.ac_results li.ac_over strong, #crm-container .ac_results li.ac_over strong {
    color: #fff;
}
.ac_results li.ac_over, .ac_results li:hover, .ac_results li.ac_over a, .ac_results li.ac_over a:hover, .ac_results li.ac_over a:visited, #crm-container .ac_results li.ac_over, #crm-container .ac_results li:hover, #crm-container .ac_results li.ac_over a, #crm-container .ac_results li.ac_over a:hover, #crm-container .ac_results li.ac_over a:visited {
    background-color: #EB008B;
    color: #fff;
}
.ac_results ul, 
.ac_results ul li {
	list-style: none outside none;
	color: #4c4c4c;
	margin-bottom: 4px;
	padding: 2px;
}
.ac_results ul {
	margin: 5px;
	padding: 0;
}
.ac_results li.ac_over, 
.ac_results li:hover, 
.ac_results li.ac_over a, 
.ac_results li.ac_over a:hover, 
.ac_results li.ac_over a:visited, 
#crm-container .ac_results li.ac_over, 
#crm-container .ac_results li:hover, 
#crm-container .ac_results li.ac_over a, 
#crm-container .ac_results li.ac_over a:hover, 
#crm-container .ac_results li.ac_over a:visited {
	cursor: pointer;
}
form ul.token-input-list,
form ul.token-input-list li input {
	width: auto;
}
div.token-input-dropdown {
	width: auto;
}
form li.token-input-token {
    background-color: #EB008B;
    color: #fff;
}
form .webform-component.static li.token-input-token {
    background-color: #EB008B;
	color: #fff;
}
form li.token-input-token span {
    float: right;
    color: #fff;
    cursor: pointer;
}
form li.token-input-selected-token {
    background-color: #EB008B;
    color: #fff;
}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #EB008B;
	color: #fff;
}