/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body  {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	color: #4C4C4C;
}
h1.title {
	color: #EB008B;
	font-size: 22px;
	margin-bottom: 14px;
}
.main-title {
	width: 573px;
	height: 78px;
	background: url(../images/title.png) no-repeat 0 0;
	position: absolute;
	top: -166px;
	left: -35px;
}
a, a:link, #crm-container a, #crm-container a:link, 
#crm-container #recently-viewed a,
.block-civicrm div#recently-viewed a{
	color: #EB008B;
}

#section-header {
	border-top: solid 4px #EB008B;
	border-bottom: solid 1px silver;
	background-color: #000;
	height: 118px;
	width: 100%;
	position: relative;
}
.container-12 {
	width: 980px !important;
}
.container-12 .region-content,
.container-12 .region-sidebar-second {
	margin: 0 !important;
}
.container-12 .region-sidebar-second {
	width: 200px !important;
	margin: 0 0 0 30px !important;
}
.container-12 .region-content  {
	width: 640px !important;
}
.container-12 .grid-12 {
	width: auto !important;
}
#zone-branding .grid-12 {
	width: 980px !important;
}
.logo-img {
	width: 251px;
	height: 53px;
	position: absolute;
	left: 0;
	top: 19px;
}
.site-name-slogan h6 {
	color: #fff;
	position: absolute;
	top: 38px;
	left: 290px;
	font-weight: bold;
	font-size: 18px;
}
#section-content {
	padding-top: 30px;
}
#zone-content-wrapper {
	width: 980px;
	margin: 0 auto;
	background: url(../images/bg.png) no-repeat 0 0;
	position: relative;
	padding: 195px 0 0 0;
}
#zone-content {
	width: 870px !important;
	padding: 0 30px 30px 30px;
	border: 25px solid #dfded8;
	border-width: 0 25px;
}
/*.page-civicrm #zone-content {
	width: 900px;
	padding: 0 15px 30px 15px;
}*/
#section-content  .block-civicrm {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #efefef;
}
/*...main menu...*/
ul#menu-primary-navigation{
	position: absolute;
	right: 0;
	top: 88px;	
	padding: 0;
	margin: 0;
}
ul#menu-primary-navigation .sub-menu {
	display: block;	
}
ul#menu-primary-navigation li:hover .sub-menu {
	display: block	
}
ul#menu-primary-navigation li {
  	height: 30px;
  	width: 100px;
  	float: left;
  	margin: 0 4px 0 0;
}
ul#menu-primary-navigation li {
	background-color: #616164;
  	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808285), to(#616164));
  	background-image: -webkit-linear-gradient(top, #808285, #616164);
  	background-image: -moz-linear-gradient(top, #808285, #616164);
  	background-image: -ms-linear-gradient(top, #808285, #616164);
  	background-image: -o-linear-gradient(top, #808285, #616164);
  	-moz-border-top-left-radius: 6px;
  	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
  	height: 30px;
  	width: 100px;  
 	text-align: center;
 	display: block;	
 	line-height: 30px;
 	font-weight: bold;
}
ul#menu-primary-navigation li a {
	color: white;
	text-decoration: none;
	font-size: 14px !important;
	display: block
}
ul#menu-primary-navigation li:hover, 
ul#menu-primary-navigation li.current_page_item {
	background-color: white;
  	background-image: none;
  	-moz-border-top-left-radius: 6px;
  	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #000;
	border-bottom: 1px solid #fff;
}
ul#menu-primary-navigation li:hover a, 
ul#menu-primary-navigation li.current_page_item a {
	color: #000;
}
ul#menu-primary-navigation .sub-menu {
	position: absolute;
	z-index: 100;
	padding-top: 2px;
	background-color: black;
	width: 102px;
	margin-left: -1px;
	display: none;
}
ul#menu-primary-navigation .sub-menu li {
	background-color: #000;
	color: #fff;
	background-image: none !important;
	height: auto;
	line-height: 13px;
	display: block;
	margin: 0;
	font-weight: normal;
	z-index: 100;
	-moz-border-radius: 0px;
	border-radius: 0px;
	clear: both;	
}
ul#menu-primary-navigation .sub-menu li a {
	display: block;
	color: #fff;
	z-index: 100;
	margin: 0px 8px 4px 8px;
	padding: 6px 0 8px 0;
	font-size: 12px !important;
	border-bottom: dashed 1px #fff;
	text-decoration: none;
}
ul#menu-primary-navigation .sub-menu li a:hover {
	text-decoration: none;
	color: #999 !important;
	z-index: 100;
	color: #fff;	
}
ul#menu-primary-navigation .sub-menu a {
	display: block
}

/*...follow us links...*/
.follow {
	position: absolute;
	right: 0;
	top: 20px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: #A8A8A8;
	font-size: 13px;
	font-weight: bold;
}
.follow .inner {
	width: 107px;
	height: 25px;
	background-color: #4D4D4D;
	border: solid 1px #666;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: right;
	padding: 5px 0 0 5px;
}
.follow a {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 7px;
}
.follow a.tw {
	background: url(../images/social-twitter.png) no-repeat 0 0;
}
.follow a.fb {
	background: url(../images/social-facebook.png) no-repeat 0 0;
}
.follow a.plus {
	background: url(../images/social-plus.png) no-repeat 0 0;
}
.follow a.rss {
	background: url(../images/social-rss.png) no-repeat 0 0;
	margin-right:0;
}
/*...footer...*/
#zone-footer .grid-12  {
	width: 980px !important;
}
#section-footer {
	padding-bottom: 30px;
}
#zone-footer a {
	color: #fff;
	text-decoration: none;
}
#zone-footer a:hover {
	color: #EB008B;
}
.region-footer-first {
	height: 35px;
	padding-top: 15px;
	background-color: #949494;
}
.region-footer-first ul.menu {
	padding-left: 18px;
}
.region-footer-first ul.menu li {
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 10px;
	border-left: solid 1px white;
	width: 149px;
	font-size: 13px;
	font-weight: bold;
}
.region-footer-second {
	font-size: 11px;
}
.region-footer-second .black {
	height: 35px;
	clear: both;
	color: #fff;
	line-height: 35px;
	background: #000 url(../images/logo-small.png) no-repeat 0 0;
}
.region-footer-second .black .block-inner {
	background: url(../images/arrow-up.jpg) no-repeat right center;
	margin: 0 10px 0 40px;
}
.region-footer-second .copyright {
	margin-top: 15px;
}
/*...civicrm form and table elements...*/
.crm-form-block,
#crm-container .report-contents,
#crm-container .odd-row, #crm-container .odd, tbody.scrollContent,
#crm-container .even-row, #crm-container .even, tbody.scrollContent tr.alternateRow,
#crm-container div#contactTopBar td, 
#crm-container div.contact_panel td,
table.crm-info-panel td,
#crm-container div#contactTopBar td.label, 
#crm-container div.contact_panel td.label, 
#crm-container #customFields div.contact_panel td.label, 
table.crm-info-panel td.label  {
	background-color: #fff;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.activem,
#crm-container .crm-pager,
.crm-search-tasks, .crm-tasks,
.block-civicrm div#recently-viewed ul li.crm-recentview-active,
.block-civicrm div#recently-viewed ul li.crm-recently-viewed ul,
.block-civicrm div#recently-viewed ul li.crm-recently-viewed ul li,
#crm-container .crm-row-selected,
#crm-container .row-highlighted,
#crm-container div.status {
  	background-color: #efefef !important;
	border: 0 none;
}
#crm-container tr td,
#crm-container div.contact_panel td, 
#crm-container div#contactTopBar td, 
table.crm-info-panel td {
	border-bottom: 1px solid #CDCDC3;
}
#crm-container input.form-submit, 
#crm-container input[type="button"], 
#crm-container input.form-submit-inline {
	padding: 4px 10px;
	margin-bottom: 2px;
}
#crm-container .crm-button, 
#crm-container a.button, 
#crm-create-new-link, 
#crm-participant-link, 
#crm-event-links-link, 
#crm-contribpage-links-link, 
#crm-contact-actions-link, 
#crm-container a.button:link, 
#crm-container input.form-submit, 
#crm-container input[type="button"], 
#crm-container input.form-submit-inline {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	background: #EB008B;
	text-shadow: 0 1px 0 transparent;
	border: 0 none;
}
