html, body, #page {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
    font-size: 15px;
    line-height: 1.5em;
	font-family: Arial, Helvetica, Sans-serif;
	color: #4c4c4c;
	text-align: center;
}
p {
	margin: 0 0 12px 0;
}
a, a:link, a:visited {
	color: #4C4C4C;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #EB008B;
}
h1 {
	height: 35px;
	background: #000 url(../images/logo-small.png) no-repeat 0 0;
	padding: 0 0 0 40px;
	font-weight: normal;
	line-height: 35px;
	font-size: 1.3em;
}
h3, legend {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold;
	padding: 12px 0;
}
#page-wrapper {
	min-height: 100%;
	min-width: 960px;
	text-align: left;
	padding-bottom: 30px;
}
#header {
	border-top: solid 4px #EB008B;
	border-bottom: solid 1px silver;
	background-color: #000;
	height: 118px;
	width: 100%;
	position: relative;
}
#header ul, #header li, 
#footer ul, #footer li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#logo {	
	width: 251px;
	height: 53px;
	position: absolute;
	left: 0;
	top: 19px;
}
#slogan {
	position: absolute;
	top: 38px;
	left: 290px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}
#header .section,
#footer,
#footer-bar,
#sub-footer,
#messages .section { 
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.follow {
	position: absolute;
	right: 0;
	top: 20px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	color: #A8A8A8;
	font-size: 13px;
	font-weight: bold;
}
#header .follow .inner {
	width: 107px;
	height: 25px;
	background-color: #4D4D4D;
	border: solid 1px #666;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: right;
	padding: 5px 0 0 5px;
}
#header .follow a {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 7px;
}
#header .follow a.tw {
	background: url(../images/social-twitter.png) no-repeat 0 0;
}
#header .follow a.fb {
	background: url(../images/social-facebook.png) no-repeat 0 0;
}
#header .follow a.plus {
	background: url(../images/social-plus.png) no-repeat 0 0;
}
#header .follow a.rss {
	background: url(../images/social-rss.png) no-repeat 0 0;
	margin-right:0;
}
ul#menu-primary-navigation{
	position: absolute;
	right: 0;
	top: 88px;	
	padding: 0;
	margin: 0;
}
ul#menu-primary-navigation .sub-menu {
	display: block;	
}
ul#menu-primary-navigation li:hover .sub-menu {
	display: block	
}
ul#menu-primary-navigation li {
  	height: 30px;
  	width: 100px;
  	float: left;
  	margin-right: 4px;
}
ul#menu-primary-navigation li {
	background-color: #616164;
  	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808285), to(#616164));
  	background-image: -webkit-linear-gradient(top, #808285, #616164);
  	background-image: -moz-linear-gradient(top, #808285, #616164);
  	background-image: -ms-linear-gradient(top, #808285, #616164);
  	background-image: -o-linear-gradient(top, #808285, #616164);
  	-moz-border-top-left-radius: 6px;
  	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
  	height: 30px;
  	width: 100px;  
 	text-align: center;
 	display: block;	
 	line-height: 30px;
 	font-weight: bold;
}
ul#menu-primary-navigation li a {
	color: white;
	text-decoration: none;
	font-size: 14px !important;
	display: block
}
ul#menu-primary-navigation li:hover, 
ul#menu-primary-navigation li.current_page_item {
	background-color: white;
  	background-image: none;
  	-moz-border-top-left-radius: 6px;
  	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: black;
}
ul#menu-primary-navigation li:hover a, 
ul#menu-primary-navigation li.current_page_item a {
	color:black;
}
ul#menu-primary-navigation .sub-menu {
	position: absolute;
	z-index: 100;
	padding-top: 2px;
	background-color: black;
	width: 102px;
	margin-left: -1px;
	display: none;
}
ul#menu-primary-navigation .sub-menu li {
	background-color: #000;
	color: #fff;
	background-image: none !important;
	height: auto;
	line-height: 13px;
	display: block;
	margin: 0;
	font-weight: normal;
	z-index: 100;
	-moz-border-radius: 0px;
	border-radius: 0px;
	clear: both;	
}
ul#menu-primary-navigation .sub-menu li a {
	display: block;
	color: #fff;
	z-index: 100;
	margin: 0px 8px 4px 8px;
	padding: 6px 0 8px 0;
	font-size: 12px !important;
	border-bottom: dashed 1px #fff;
	text-decoration: none;
}
ul#menu-primary-navigation .sub-menu li a:hover {
	text-decoration: none;
	color: #999 !important;
	z-index: 100;
	color: #fff;	
}
ul#menu-primary-navigation .sub-menu a {
	display: block
}
#main-wrapper {
	min-height: 300px;
	margin-top: 20px;
}
#main {
	width: 930px;
	margin: 0 auto;
    padding: 130px 25px 0 25px;
	background: url(../images/bg-2.png) no-repeat 0 0;
	position: relative;
}
h1#title {
	width: 573px;
	height: 78px;
	background: url(../images/title.png) no-repeat 0 0;
	position: absolute;
	top: 32px;
	left: 18px;
}
.front h1.title {
	display: none;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}
.info-button {
	width: 267px;
	height: 46px;
	display: block;
	background: url(../images/more-info.png) no-repeat 0 0;
	text-indent: -8765px;
	font-size: 0;
	line-height: 0;
	position: absolute;
	right: 45px;
	top: 45px;
}
#white {
	width: 870px;
	padding: 30px;
	background-color: #fff;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;
}
.no-sidebars .region-content {
    width: 870px;
}
.one-sidebar .region-content {
	width: 640px;
}
.region-content, 
#sidebar-first {
    float: left;
}
#sidebar-first {
	width: 200px;
	margin-left: 30px;
}
.front .region-sidebar-first {
	height: 580px;
}
.node-type-webform .region-sidebar-first {	
	height: 780px;
}
.page-node-3 .region-sidebar-first {
	height: 2970px;
	position: relative;
}
.region-sidebar-first .block {
	margin-bottom: 12px;
}
.glue {
	position: absolute;
	bottom: 0;
	left: 0;
}
.guide-bottom {
	bottom: 60px;
}
.hp-btns {
	overflow: hidden;
	margin-bottom: 16px;
}
.hp-btns p {
	margin: 0;
}
#block-school-count-count{
	width: 173px;
	height: 120px;
	padding-top: 27px;
	margin-bottom: 25px;
	background: url(../images/counter.png) no-repeat 0 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.integer {
	display: inline-block;
	width: 47px;
	height: 46px;	   
	padding-top: 13px;	    
	font-size: 2.4em;
	background: url(../images/integer.png) no-repeat 0 0;
}
.count-text {
	padding-top: 8px;
}

/* log in block */
#block-user-login {
	width: 173px;
}
#block-user-login .form-item,
#block-user-login .form-actions {
	margin: 6px 0;
}
#block-user-login .form-item input {
	width: 162px;
}
#block-user-login .item-list {
	float: right;
}
/* Request new password text */
.item-list {
	font-size: 0.8em;
}
.item-list ul li {
	margin: 0;
}
fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}
legend {
	color: #EB008B;
}
form, .fieldset-wrapper {
	padding-top: 12px;
}
.form-item {
	overflow: hidden;
}
input, select {
	border: 1px solid #d1d1d1;
	padding: 3px;
	font-size: 1.2em;
	color: #6e6e6e;
}
.node-webform label {
	height: 32px;
	line-height: 32px;
	text-align: right;
	margin-right: 30px;
	float: left;
}
label.option {
	text-align: left;
}
.form-type-checkbox {
	margin-left: 200px;
}
input.form-checkbox {
	width: 20px;
}
.node-webform input, 
.node-webform select {
	width: 400px;
	height: 26px;
	float: right;
}
.node-webform select {
	width: 410px;
	padding: 6px 3px;
}
#crm-container input,
#crm-container select {
	width: auto;
	height: auto;
	float: none;
}
/* on user edit page */
input.password-confirm, 
input.password-field {
	width: 15em !important;
}
/* submit button */
#edit-actions {
	overflow: hidden;
	clear: both;
}
/* link to list of students */
.signed-students {
	margin-top: 25px;
}
/* buttons */
#edit-submit, 
#edit-submit--2,
.signed-students .content a {
	width: auto;
	height: auto;
	padding: 6px 10px;
	color: #fff;
	background-color: #EB008B;
	border: 0 none;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	float: right;
	cursor: pointer;
}
.signed-students .content a {
	float: none;
	text-decoration: none;
	font-size: 1.2em;
}
/* form at /user */
#user-login {
	width: 530px;
}
/* form at /user/password */
#user-pass {
	width: 520px;
}
#user-login-form ul, 
#block-system-user-menu ul,
#block-system-user-menu ul li.leaf,
.teacher-menu ul,
.teacher-menu ul li.leaf  {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#block-system-user-menu ul li.leaf, 
.teacher-menu ul li.leaf  {
	margin: 6px 0;
}
#footer {
	height: 35px;
	padding-top: 15px;
	background-color: #949494;
}
#footer ul.menu {
	padding-left: 18px;
}
#footer ul.menu li {
	float: left;
	padding-left: 10px;
	border-left: solid 1px white;
	width: 149px;
	font-size: 13px;
	font-weight: bold;
}
#footer-bar {
	height: 35px;
	clear: both;
	background-color: #000;
	color: #fff;
	font-size: 11px;
	line-height: 35px;
	margin-bottom: 15px;
	background: #000 url(../images/logo-small.png) no-repeat 0 0;	
}
#footer-bar .section {
	width: 940px;
	padding-left: 40px;
	background: #000 url(../images/logo-small.png) no-repeat 0 0;
}
.region-footer-bar {
	background: url(../images/arrow-up.jpg) no-repeat right center;
	margin: 0 10px 0 40px;
}
.footer p {
	margin: 0;
	padding: 0;
}
.footer a {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #EB008B;
}
#sub-footer {
	font-size: 0.7em;
}
.ac_results {
	width: 408px !important;
	background: none #fff no-repeat 0 0 !important;
}
.ac_results-inner, 
.crm-participant-list-inner, 
.crm-event-links-list-inner, 
.crm-contribpage-links-list-inner, 
.crm-create-new-list-inner, 
.crm-contact-actions-list-inner {
    background-color: #fff;
	border: 1px solid #d1d1d1;
}
.ac_results li strong {
	color: #eb008b;
}
.ac_results li.ac_over strong, #crm-container .ac_results li.ac_over strong {
    color: #fff;
}
.ac_results li.ac_over, .ac_results li:hover, 
.ac_results li.ac_over a, 
.ac_results li.ac_over a:hover, 
.ac_results li.ac_over a:visited, 
#crm-container .ac_results li.ac_over, 
#crm-container .ac_results li:hover, 
#crm-container .ac_results li.ac_over a, 
#crm-container .ac_results li.ac_over a:hover, 
#crm-container .ac_results li.ac_over a:visited {
    background-color: #EB008B;
    color: #fff;
}
.ac_results ul, 
.ac_results ul li {
	list-style: none outside none;
	color: #4c4c4c;
	margin-bottom: 2px;
	padding: 0 2px;
}
.ac_results ul {
	margin: 5px;
	padding: 0;
}
.ac_results li.ac_over, 
.ac_results li:hover, 
.ac_results li.ac_over a, 
.ac_results li.ac_over a:hover, 
.ac_results li.ac_over a:visited, 
#crm-container .ac_results li.ac_over, 
#crm-container .ac_results li:hover, 
#crm-container .ac_results li.ac_over a, 
#crm-container .ac_results li.ac_over a:hover, 
#crm-container .ac_results li.ac_over a:visited {
	cursor: pointer;
}
div.error, .error {
color: red;
}
label.error {
	margin-top: 12px;
}
/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px 0;
}
.tabs ul.primary {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;
  background: none;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li a {
	padding: 6px 10px;
	color: #EB008B;
	background-color: #fff;
}
.tabs ul.primary li a:hover {
	text-decoration: underline;
}
.tabs ul.primary li.active a {
	text-decoration: underline;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}
#webform-client-form-5 div.webform-component-markup {
    border: 2px solid #EB008B;
    text-align: center;
}
#webform-client-form-5 div.form-radios {
    display: inline-block;
    float:right;
}
#webform-client-form-5 div.form-checkboxes {
    display: inline-block;
    float:right;
}
#webform-client-form-5 .form-text {
    display: inline-block;
    float:right;
}
#webform-client-form-5 .description {
    display: inline-block;
    width: 163px;
    margin-left: 0px !important;
}
#webform-client-form-5 .form-radio {
    width:auto !important;
}
#webform-client-form-5 .form-select {
    display: inline-block;
    float:right;
}
.form-item-submitted-civicrm-1-contact-1-fieldset-fieldset-i-have-read-and-understood-the-data-protection-policy-yes label {
    width:auto !important;
} 

