html, body, #page {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
    font-size: 15px;
    line-height: 1.5em;
	font-family: Arial, Helvetica, Sans-serif;
	color: #4c4c4c;
	text-align: center;
}
#page {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #EB008B;
}
h1 {
	height: 35px;
	background: #000 url(../images/logo-small.png) no-repeat 0 0;
	padding: 0 0 0 40px;
	font-weight: normal;
	line-height: 35px;
	font-size: 1.3em;
}
h3 {
	font-size: 1.3em;
	line-height: 1.3em;
}
ul, li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#page-wrapper {
	min-height: 100%;
	min-width: 960px;
}
#header {
	height: 88px;
	width: 100%;
	padding: 20px 0;
	background-color: #000;
	border-top: 4px solid #eb008b;
}
#logo {
	width: 251px;
	display: block;
	float: left;
	margin-right: 40px;
}
#slogan {
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	height: 59px;
	line-height: 59px;
}
#header .section,
#footer .section,
#footer-bar .section,
#sub-footer .section { 
	width: 980px;
	margin: 0 auto;
}
#header ul.inline {
	margin: 0;
}
#main-wrapper {
	min-height: 300px;
	margin-top: 20px;
}
#main {
	width: 930px;
	margin: 0 auto;
    padding: 140px 25px 0 25px;
	background: url(../images/bg.jpg) no-repeat 0 0;
	position: relative;
}
h1#title {
	width: 380px;
	height: 81px;
	background: url(../images/in-schools.png) no-repeat 0 0;
	position: absolute;
	top: 40px;
	left: 25px;
}
#content {
	width: 870px;
	padding: 30px;
	background-color: #fff;
	-moz-border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}
legend {
	color: #EB008B;
}
form, .fieldset-wrapper {
	padding-top: 12px;
}
.form-item {
	overflow: hidden;
}
label {
	width: 200px;
	height: 32px;
	line-height: 32px;
	text-align: right;
	margin-right: 30px;
	float: left;
}
input, select {
	width: 400px;
	height: 26px;
	float: left;
	border: 1px solid #d1d1d1;
	padding: 3px;
	font-size: 1.2em;
	color: #6e6e6e;
}
select {
	width: 410px;
	padding: 6px 3px;
}
#edit-actions {
	width: 640px;
	overflow: hidden;
}
#edit-submit {
	width: auto;
	height: auto;
	padding: 6px 10px;
	color: #fff;
	background-color: #EB008B;
	border: 0 none;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* CSS3 */
	float: right;
	cursor: pointer;
}
#footer {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #949494;
}
#footer-bar {
	width: 100%;
	height: 35px;
	clear: both;
	background-color: #000;
	color: #fff;
	font-size: 0.7em;
	line-height: 35px;
	margin-bottom: 15px;	
}
#footer-bar .section {
	width: 940px;
	padding-left: 40px;
	background: #000 url(../images/logo-small.png) no-repeat 0 0;
}
.region-footer-bar {
	background: url(../images/arrow-up.jpg) no-repeat right center;
	margin-right: 10px;
}
#footer ul {
	overflow: hidden;
}
#footer li {
	display: inline;
	float: left;
	margin-right: 10px;
	padding: 0;
	font-size: 0.9em;
	font-weight: bold;
}
.footer p {
	margin: 0;
	padding: 0;
}
.footer a {
	color: #fff;
	text-decoration: none;
}
.footer a:hover {
	color: #EB008B;
}
#sub-footer {
	font-size: 0.7em;
}
/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}